<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Account Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="nordea-background">
  <ion-card>
    <ion-card-content>
      <div *ngIf="(account$ | async) as account; else accloading">
        {{account._id}}
      </div>
      <ng-template #accloading>
        <ion-row>
          <ion-spinner name="circles"></ion-spinner>
        </ion-row>
      </ng-template>

      <div *ngIf="(idAndTransactionResponse$ | async) as idAndTransactionResponse">
        <div *ngIf="(idAndTransactionResponse.transactionResponse$ | async) as transactionResponse; else txloading">
          <transaction-list
            [accountId]="idAndTransactionResponse.id"
            [continuationKey]="transactionResponse.continuation_key"
            [transactions]="transactionResponse.transactions">
          </transaction-list>
        </div>
      </div>
      <ng-template #txloading>
        <ion-row>
          <ion-spinner name="circles"></ion-spinner>
        </ion-row>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
