<ion-card>
  <ion-card-header (click)="showDetails()">
    <ion-row>
      <ion-card-subtitle>{{account.account_name}}</ion-card-subtitle>
    </ion-row>
    <ion-row>
      <ion-card-title>{{account._id}}</ion-card-title>
    </ion-row>
  </ion-card-header>

  <ion-card-content>
    <div (click)="showDetails()">
      <ion-row>
        <ion-label>Balance</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="currency">{{account.available_balance | currency: account.currency}}</ion-label>
      </ion-row>
    </div>

    <ion-row>
      <ion-col size="6">
        <ion-button color="light" expand="full">History</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="full">Payment</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
