// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

page-login {
  background: url("/assets/image/nordea-background.jpg") no-repeat 100% 100% !important;
  background-position: center !important;
  background-color: rgba(2, 0, 161, 1) !important;
}

ion-content {
  --background: url("/assets/image/nordea-background.jpg") no-repeat 100% 100% !important;
  background-position: center !important;
  background-color: rgba(2, 0, 161, 1) !important;
}

ion-card {
  --background: white !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.full-width {
  width: 100%;
  max-width: 100%;
}
